<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @item_comment.item_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @item_comment.user_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @item_comment.status %>
</p>

<p>
  <strong>Body:</strong>
  <%= @item_comment.body %>
</p>

<%= link_to 'Edit', edit_item_comment_path(@item_comment) %> |
<%= link_to 'Back', item_comments_path %>
